.create-proposal-form {
  width: 100%;
  display: flex;
  justify-content: center;

  .input-box {
    width: 100%;
  }

  .create-proposal-entry {
    padding: 10px 5px 10px 5px;

    .entry-title {
      margin-bottom: 6px;
    }
  }
}
