.ohm-chart-container .card-header {
  margin-bottom: 20px !important;
}
.ohm-chart {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  min-height: 250px;
  max-height: 333px;
  min-width: 260px;
}
