// ohm-card styles should be set to theme
.ohm-card {
    color: #eee;
    overflow: hidden;
    min-height: 45vh;
    max-height: 60vh;
    max-width: 65vw;
    border-radius: .5rem;
    background-color: transparent !important;
    box-shadow: unset !important;
    border: none !important;
    display:flex;
    margin: 1rem;
    justify-content:center;
    flex-flow:wrap;
    padding: 0px !important;
    .card-header {
        position: absolute;
        width: 100%;
        background-color:#42424200 !important;
        box-shadow: none !important;
        border: none !important;
        top: 0;
        h5 {
            font-weight: 550;
            text-decoration: underline;
            text-underline-offset: 8px;
        }
    }
    .card-content {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: left;
        justify-content: center;
        border-radius: inherit;
        background: rgba(33, 33, 33, 0.5) !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        flex-flow: column;
        padding: 3rem !important;
    }
    &.primary {
        min-width: 60vw;
        margin-bottom: 3.3rem;
    }
    &.secondary {
        min-height: 22vh;
        max-height: 33vh;
        height: auto;
        min-width: 60vw;
        padding-top: 4.20rem !important;
        .card-content {
            position: relative;
        }
    }
}

.stake-top-metrics {
    display: flex;
    height: 24%;
    width: 100%;
    .olympus-sushi {
        flex: 1;
        div {
            line-height: 150%;
        }
        .olympus-logo {
            height: 36px;
            width: 36px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        h3 {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }
        a {
            font-size: 0.95em;
            margin-right: 5px;
        }
    }
    .stake-apy {
        flex: 2;
        text-align: center;
        h2 {
            font-size: 3.3rem;
            margin-top: none;
            margin-bottom: none;
            line-height: 100%;
        }
        h2:first-of-type {
            margin-bottom: unset;
        }
    }
    .next-rebase {
        flex: 1;
        text-align: right;
    }
}

.olympus-logo-tiny {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    background-color: inherit;
}

.logo-holder {
    background-color: #282828 !important;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.8rem;
    background: transparent;
    border: unset;
    color: #555;
}


// these are overwrites for certain global styles, will fix later
.stake-toggle-row {
    margin: 1.5rem 0;
}

.input-group.ohm-input-group {
    width: 47%;
    input, button {
        border-radius: .5rem;
    }
    button {
        border-left: 0;
    }
    input:focus {
        outline: none;
    }
}



  

  

  