#stake-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .rebase-timer {
    margin: 0 !important;
    line-height: 110% !important;
  }

  .stake-tab-panel,
  .stake-tab-panel > div.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 0;
  }
}

.migrate-sohm-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #f08080;
  line-height: 30px;
  svg {
    margin-right: 8px;
    color: inherit;
  }
}

.migrate-sohm-button.complete {
  color: #35ee66 !important;
}

.stake-top-metrics {
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  .olympus-sushi {
    flex: 1;
    div {
      line-height: 150%;
    }
    .olympus-logo {
      height: 1.7em;
      width: 1.7em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    a {
      margin-right: 5px;
    }
    .fa-external-link-alt {
      width: 0.79em;
      height: 0.79em;
    }
  }
  .stake-apy,
  .stake-tvl {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.ohm-logo-bg {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  display: flex;
  background-color: white;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
}

.ohm-logo-tiny {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  background-color: transparent;
  align-self: center;
  justify-self: center;
}

.logo-holder {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  background: none;
  border: 0 !important;
  border-radius: inherit;
  color: #555;
}

.stake-action-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.stake-tab-buttons {
  margin-bottom: 20px;
}

.mobile .ohm-input,
.tablet .ohm-input {
  margin-bottom: 13px;
  max-width: 542px;
}

.stake-button {
  margin: auto;
}

.mobile .stake-button,
.tablet .stake-button {
  width: 100% !important;
  max-width: 542px;
  align-self: center;
  justify-self: center;
}

.staking-area {
  margin: 13px 10px 13px 10px;
}

.stake-lp-button {
  text-align: center !important;
  display: flex;
  h6 {
    vertical-align: middle;
    align-content: center;
    align-items: center;
    display: flex;
  }
  svg {
    margin-left: 5px;
  }
  &:hover {
    svg {
      color: inherit;
    }
  }
}

.tablet .stake-table button {
  padding: 0.4rem 1.7rem;
  width: 8rem;
}

.tablet .stake-pool,
.mobile .stake-pool {
  border: 1px solid #f4d09222;
  border-radius: 5px;
  padding: 1.69rem 1.69rem;
  .pool-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &.small {
      justify-content: center;
      align-items: center;
      .ohm-pairs {
        margin-bottom: 5px;
      }
    }
    .ohm-pairs p {
      margin-bottom: 0 !important;
    }
  }
  .ohm-logo-bg {
    height: 38px !important;
    width: 38px !important;
    padding: 8px !important;
    margin-left: 0;
  }

  .pool-data {
    margin-top: 15px;
    width: 100%;
    .pool-data-row {
      display: flex;
      justify-content: space-between;
      line-height: 225%;
    }
  }
  .stake-lp-button {
    min-width: 195px !important;
    svg {
      margin-left: 18px !important;
    }
  }
}

.stake-wallet-notification {
  padding: 5%;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f4d09266;
  .wallet-menu {
    text-align: center;
    margin-top: 1.2rem;
    .stake-button {
      max-width: 300px !important;
    }
  }
}

// MIGRATE PAGE STYLES
.tablet #sohm-migration-view {
  .ohm-card {
    width: 98% !important;
  }
}

#sohm-migration-view {
  position: absolute !important;
  z-index: 7;
  .MuiBackdrop-root {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    .ohm-card {
      opacity: 1 !important;
      padding: 1.5em !important;
      padding-top: 1em !important;
      justify-content: center;
      .card-header {
        display: flex;
        justify-content: space-between;
        div.cancel p {
          color: #ff4343 !important;
          vertical-align: middle;
          padding: 0 !important;
          &:hover {
            color: #eeeeee;
          }
        }
      }
      .card-content {
        background-color: inherit;
        opacity: 1 !important;
      }
      p {
        margin-bottom: 0 !important;
      }
      .MuiBreadcrumbs-root {
        position: relative !important;
        width: 100% !important;
        margin-bottom: 3em;
        .MuiBreadcrumbs-ol {
          justify-content: center;
        }
        li {
          color: #ffffff;
        }
        li > div:not(.current-step) {
          color: #aaaaaa;
        }
        li > div.current-step {
          color: #f4d092dd !important;
          text-decoration: underline;
          text-underline-offset: 5px;
        }
        li div.finished-step {
          color: #35ee66 !important;
        }
      }
      .MuiBreadcrumbs-root.step-2 {
        li.MuiBreadcrumbs-separator .MuiSvgIcon-root {
          color: #35ee66 !important;
        }
      }
      .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .stake-migration-help {
          margin-bottom: 2rem;
        }
        .stake-action-row {
          width: 100%;
          justify-content: center;
          .input-group.ohm-input-group,
          .stake-button {
            height: 50px;
            min-width: 40%;
          }
          .stake-button {
            white-space: nowrap;
          }
        }
        .stake-user-data {
          width: 100%;
          .stake-price-data-row {
            line-height: 200%;
          }
        }
        .stake-notification {
          width: 75%;
        }
      }
    }
  }
}
