#yield-directing-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .ohm-card .header {
    min-height: 3em;
  }
}

.yield-action-area {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.ohm-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .yield-header {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;

    a {
      position: absolute;
      left: 1.7rem;
    }
  }

  .MuiTypography-body2 {
    margin-bottom: 0.5rem;
  }

  .modal-input {
    width: 100%;
    max-width: 100%;
    padding-bottom: 1rem;

    .MuiFormHelperText-root {
      color: red;
    }
  }

  .ohm-modal-submit {
    display: flex;
    width: 10rem;
    height: 43px !important;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
