#ohm-menu-button {
  padding: 12px;
  svg {
    margin-right: 3px;
    color: inherit !important;
  }
}

#ohm-popper, #ohm-popper-pending {
  z-index: 5;
  background-color: #00000011;
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
  margin-top: 10px;
  border-radius: 10px;
  .MuiPaper-root.ohm-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    a {
      margin-bottom: 18px;
      padding-left: 20px !important;
      svg {
        vertical-align: middle;
        font-size: 20px;
        margin-left: 3px;
      }
      &:hover {
        svg {
          color: inherit;
        }
      }
    }
    a:last-child {
      margin-bottom: 0px;
    }
    hr {
      margin-bottom: 18px;
    }
  }


  .add-tokens {
    > p {
      margin: 15px 0px;
      text-align: center;
    }
    button {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 18px;
      padding-left: 20px;
    }
  }
}
