.dapp-topbar {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    position: sticky;
    display: flex;
    top: 0;
<<<<<<< HEAD
    right: 0;
    width: auto;
    height: 72px;
    background-color:inherit;
=======
    right: 0; 
>>>>>>> styled top bar/buttons, copied over light and girth theme (need work) and removed more redundnacy
    z-index: 3;
    overflow: hidden;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 1.33rem;
    button {
        vertical-align: middle;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        margin: 8px;
    }
=======
  position: sticky;
  display: flex;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 1.33rem;
=======
>>>>>>> fixed topbar, stake mobile buttons, bond view, bond modal
=======
=======
>>>>>>> Added new sOHM/Ohm mm logos and fixed layout bug in big screens
  justify-content: space-between;
  width: 100%;
>>>>>>> cleaned up topbar, made hamburger left anchored, removed font awesome for custom icons
  button {
    white-space: nowrap !important;
    overflow: hidden !important;
    margin: 8px !important;
=======
    position: sticky;
    display: flex;
    text-align: right;
    top: 0;
    right: 0;
    width: auto;
    height: 72px;
    background-color:inherit;
    z-index: 3;
    overflow: hidden;
    padding: 0px;
    justify-content: right;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 20px;
    button {
        border-radius: .7rem !important;
        border-color: none !important;
        font-size: 1.05em !important;
        height: 46px !important;
        min-width: fit-content !important;
        line-height: 46px;
        vertical-align: middle;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }
}

.dapp-topbar-items {
    float: right;
    vertical-align: middle;
}

.get-ohm-button {
    // min-width: 111px;
    a {
        display: block;
        white-space: nowrap;
        text-decoration: none !important;
    }
}

<<<<<<< HEAD
.add-ohm-wallet {
    text-align: left;
    z-index: 5;
    width: 200px;
    position: fixed;
    top: 80px;
    padding: 20px;
    borderRadius: 20px;
    :hover {
        background-color: unset !important;
        color: unset !important;
=======
.get-ohm-button.btn,
.wallet-menu .btn {
    //padding: 0px 25px !important;  -->> Padding moved into a since text was only clickable
    min-width: fit-content !important;
    line-height: 18px !important;
}


.wallet-menu {
    display:flex;
    float: right;
    text-align: center;
    justify-content:center;
    a {
      text-decoration: none;
>>>>>>> Clicking issue on Get Ohm button and wallet button. Was only clickable on the text, removed padding on <button> tag and added padding on <a>
    }
}

.ohm-token-name {
    font-weight: bold;
    cursor: pointer
}

.add-token-title {
    font-weight: 200;
    font-size: 12px;
}

.ohm-menu-container {
    text-align: left;
    padding: 20px;
}

.get-ohm-button.btn,
.wallet-menu .btn {
    padding: 0px 25px !important;
>>>>>>> Added new sOHM/Ohm mm logos and fixed layout bug in big screens
    min-width: fit-content !important;
    &#hamburger {
      padding: 11px !important;
    }
  }
>>>>>>> top bar nearly done, sidebar refactored (mostly) to use material ui drawer, bootstrap removed, sidebar styled, typography implemented
}
.tablet .dapp-topbar {
  justify-content: space-between;
}
<<<<<<< HEAD
<<<<<<< HEAD
.get-ohm-button {
  a {
    display: block;
    white-space: nowrap;
    text-decoration: none !important;
  }
}
<<<<<<< HEAD

.add-ohm-wallet {
    text-align: left;
    z-index: 5;
    width: 200px;
    position: fixed;
    top: 80px;
    padding: 20px;
    borderRadius: 10px;
    filter: drop-shadow(0px 12px 20px rgba(37, 52, 73, 0.04));
    :hover {
        background-color: unset !important;
        color: unset !important;
    }
}

.ohm-token-name {
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    :hover {
        background-color: rgba(118, 130, 153, 0.15) !important;
        border-radius: 5px;
    }
}

.add-token-title {
    font-weight: 200;
    font-size: 12px;
}

.ohm-menu-container {
    text-align: left;
    padding: 20px;
}

.get-ohm-button.btn,
.wallet-menu .btn {
    //padding: 0px 25px !important;  -->> Padding moved into a since text was only clickable
    min-width: fit-content !important;
    line-height: 18px !important;
}


.wallet-menu {
    display:flex;
    float: right;
    text-align: center;
    justify-content:center;
    a {
      text-decoration: none;
    }
    .disconnect-button{
      margin-bottom: 15px;
    }
}

.wallet-button {
    border:1px solid #0001;
    // background-color: transparent;
    border-radius: 5px;
    cursor:pointer;
    &:hover {
      background-color:#e8e8e8;
    }
}

.dapp-sidebar-button-connect {
    // background-color: transparent;
    color: white;
    &:hover{background-color:white;color:black;}
}

.dapp-sidebar-button-connected {
    // background-color: white;
    color: black;
}


.top-bar-button {
    height: 46px;
    font-size: 1.05em;
    border: none;
    &:hover{
        border: none;
    }
}

.dapp-topbar .toggle-button svg {
    width: 20px !important;
    height: 20px !important;
}

.mobile .dapp-topbar {
    margin: 0 !important;
    margin-top: 5px !important;
    margin-right: -1.12em !important;
}
=======
=======
>>>>>>> Clicking issue on Get Ohm button and wallet button. Was only clickable on the text, removed padding on <button> tag and added padding on <a>

.mobile .get-ohm-button,
.mobile .wallet-menu button {
    font-size: 1.2em !important;
}

.reset-padding {
    padding: 0 !important;
}

.top-bar-button a {
    padding: 13px 25px !important;
}
<<<<<<< HEAD
=======
>>>>>>> styled top bar/buttons, copied over light and girth theme (need work) and removed more redundnacy
=======
>>>>>>> staking updated with current index, button links fixed, bond cards styled
=======
>>>>>>> Clicking issue on Get Ohm button and wallet button. Was only clickable on the text, removed padding on <button> tag and added padding on <a>
>>>>>>> Clicking issue on Get Ohm button and wallet button. Was only clickable on the text, removed padding on <button> tag and added padding on <a>
