#treasury-dashboard-view {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */

  & div[role="tabpanel"] > div {
    padding: 22px 0;
  }

  & .flex {
    display: flex;
  }

  & .multifarm-widget-table {
    border-spacing: 0 0.75rem;
  }

  & .multifarm-widget-accordion {
    margin-bottom: 0.75rem;
  }

  & .multifarm-widget-income-view-per-type__pie-charts,
  & .multifarm-widget-dashboard__pie-charts {
    margin-bottom: 0.75rem;
  }

  & .multifarm-widget-dashboard__pie-charts {
    grid-gap: 0.75rem;
  }

  & .multifarm-widget-table__container {
    margin-bottom: 0.25rem;
  }

  & .multifarm-widget-powered-by-badge {
    width: 100%;
    margin-top: 0.75rem;
    justify-content: center;
  }

  & .multifarm-widget-dashboard__sub-tabs {
    justify-content: center;
  }

  & .multifarm-widget-dashboard__tab-title-container {
    align-items: center;
    justify-content: center;
  }

  & .multifarm-widget-accordion__title,
  & .multifarm-widget-card__title {
    font-weight: 400;
  }

  &::-webkit-scrollbar {
    display: none !important;
  }

  .ohm-card {
    max-width: unset !important;
    width: 100%;
    margin: auto;
    .card-header {
      margin-bottom: 1rem;
    }
    &.ohm-chart-card {
      .chart-card-header {
        padding: 0px 20px !important;
        min-width: 300px;
      }
      height: 355px;
    }

    & .multifarm-widget-card {
      background: transparent;
      border-color: transparent;
      padding: 0 1.25rem;
    }

    & .multifarm-widget-card__header {
      margin-top: 3px;
      margin-bottom: 2.5rem;
    }

    & .multifarm-widget-card__title {
      overflow: hidden;
      white-space: nowrap;
      font-size: 1rem;
      color: #a3a3a3;
      text-overflow: ellipsis;
    }

    & .recharts-surface {
      overflow: visible;
    }

    & .multifarm-widget-line-chart .recharts-responsive-container,
    & .multifarm-widget-line-chart .recharts-wrapper {
      height: 260px !important;
    }

    & .multifarm-widget-line-chart .recharts-text {
      fill: #666 !important;
      font-size: 0.75rem !important;
    }
  }
  .hero-metrics {
    width: 100%;
    margin-bottom: 23px;
    padding: 0;
    text-align: center;
    .ohm-card {
      max-width: unset !important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      h5 {
        font-weight: bold;
      }
    }
  }
  .data-grid {
    overflow: hidden;
  }
}

.smaller {
  .MuiTabs-root {
    width: 100%;
  }

  .multifarm-widget-table__top-pagination {
    margin-right: 10px;
  }

  .multifarm-widget-scroll-tabs__arrow {
    top: -4px;
  }

  .multifarm-widget-dashboard__tab-title {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .multifarm-widget-dashboard-tabs__tab {
    padding: 0 0.5rem;
  }

  .multifarm-widget-tabs__tab {
    min-width: 41px;
  }

  .multifarm-widget-dashboard__sub-tabs {
    margin: 1.5rem 0 1.75rem;
  }

  .multifarm-widget-dashboard__tab-container .multifarm-widget-tabs {
    padding: 0 2px;
    margin-left: 0;
    height: 51px;
  }

  .multifarm-widget-card__title {
    font-size: 1rem;
  }

  .multifarm-widget-tabs__tab {
    padding: 0.125rem 0.25rem;
    font-size: 0.85rem;
  }

  .multifarm-widget-technologies-used__icons {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .ohm-card {
    width: 97%;
  }
  .hero-metrics .ohm-card {
    > .MuiBox-root {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    div.metric {
      text-align: left !important;
    }
  }
}

.mobile {
  & .multifarm-widget-dashboard__tab-container .multifarm-widget-dashboard-tabs {
    justify-content: unset !important;
  }

  .ohm-card {
    & .multifarm-widget-card__header {
      margin-bottom: 1.25rem !important;
    }
  }

  div.metric {
    white-space: nowrap;
    min-width: 30% !important;
    max-width: 60%;
    text-align: left !important;
    &.market,
    &.price,
    &.wsoprice,
    &.circ,
    &.bpo,
    &.index {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.very-small {
  .hero-metrics .ohm-card {
    > .MuiBox-root {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.dashboard-pro,
.proteus,
.treasury {
  margin-top: 15px;
}

.income {
  margin-top: 15px;
}

.multifarm-widget-dashboard-pro,
.multifarm-widget-dashboard__tab-container {
  .multifarm-widget-incomes-bar__text {
    font-size: 1rem;
    margin: 8px auto;
  }

  .multifarm-widget-dashboard-tabs__tab:first-child {
    padding-left: 0;
  }

  .multifarm-widget-dashboard-tabs__tab-text {
    font-size: 19px;
    padding: 0.25rem 0;
    border-bottom: 2px solid transparent;
  }

  .multifarm-widget-select__select {
    border-radius: 5px;
  }

  .multifarm-widget-accordion,
  .multifarm-widget-card {
    border: none;
    border-radius: var(--ohm-card-border-radius);
  }

  .multifarm-widget-table-cell:first-child {
    border-radius: var(--ohm-card-border-radius) 0 0 var(--ohm-card-border-radius);
  }

  .multifarm-widget-table-cell:last-child {
    border-radius: 0 var(--ohm-card-border-radius) var(--ohm-card-border-radius) 0;
  }

  .multifarm-widget-incomes-bar__text span {
    font-size: 1rem;
  }

  .multifarm-widget-typography_page-title {
    font-weight: 600;
  }

  .multifarm-widget-tabs {
    padding: 0 10px;
    margin-left: 10px;
    height: 51px;
    border-radius: 6px;
  }

  .multifarm-widget-tabs__tab {
    font-weight: 500;
    font-size: 0.85rem;
    &[data-active="true"] {
      border-radius: 6px;
      height: 39px;
    }
  }
}

.light {
  .multifarm-widget-dashboard-pro__partner,
  .multifarm-widget-powered-by-badge,
  .multifarm-widget-accordion {
    background: var(--light-paper-bg);
  }

  :not(.multifarm-widget-accordion__content) {
    .multifarm-widget-table {
      tbody tr {
        background: var(--light-paper-bg);
      }
      .multifarm-widget-table-cell {
        background-color: transparent;
      }
    }
  }

  .multifarm-widget-accordion__content {
    .multifarm-widget-table {
      .multifarm-widget-table-cell {
        background-color: #f0f0f0;
      }
    }
  }

  .multifarm-widget-chart-tooltip__trigger {
    cursor: pointer;
    &:hover {
      color: var(--list-text-primary);
    }
  }

  .multifarm-widget-dashboard__tab-container {
    .multifarm-widget-dashboard-tabs__tab[data-active="true"] .multifarm-widget-dashboard-tabs__tab-text {
      color: #000;
      font-weight: 400;
      border-color: #000;
    }
  }
}

.dark {
  .multifarm-widget-dashboard-pro__partner,
  .multifarm-widget-powered-by-badge,
  .multifarm-widget-accordion {
    background: var(--dark-paper-bg);
  }

  :not(.multifarm-widget-accordion__content) {
    .multifarm-widget-table {
      tbody tr {
        background: var(--dark-paper-bg);
      }
      .multifarm-widget-table-cell {
        background-color: transparent;
      }
    }
  }

  .multifarm-widget-accordion__content {
    .multifarm-widget-table {
      .multifarm-widget-table-cell {
        background-color: #1d2026;
      }
    }
  }

  .multifarm-widget-chart-tooltip__trigger {
    cursor: pointer;
    &:hover {
      color: var(--ohm-gold);
    }
  }

  .multifarm-widget-dashboard__tab-container {
    .multifarm-widget-dashboard-tabs__tab[data-active="true"] .multifarm-widget-dashboard-tabs__tab-text {
      color: var(--ohm-gold);
      font-weight: 400;
      border-color: var(--ohm-gold);
    }
  }
}
