#choose-fuse-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .MuiTable-root {
    margin: 10px 0px;
  }

  .ohm-card-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    a {
      text-decoration: none;
    }
  }

  div.fuse-name {
    margin-top: 15px;
  }

  .fuse-data-card {
    margin: auto;
    text-decoration: none;
  }

  .MuiAvatar-root {
    width: 25px;
    height: 25px;

    &.MuiAvatarGroup-avatar {
      margin-left: -10px !important;
      font-size: 13px;
    }
  }
}
