#hades {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .ohm-popover {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    h3 {
      align-self: center;
      justify-self: center;
      width: 75%;
      text-align: center;
    }
    label {
      margin: 33px 0 10px;
    }
    .help-text {
      margin: 10px;
    }
  }
}
