#bond-view {
  .bond-data {
    margin: 10px 0 0 0;
  }

  .bond-price-data-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 23px;
    h4 {
      margin-bottom: 0;
    }
    h3.price {
      font-weight: 600 !important;
    }
  }

  .ohm-input {
    min-width: 50%;
    max-width: 408px;
    margin: 5px;
  }
}

.transaction-button {
  min-width: 185px !important;
  max-width: 408px;
  width: 100%;
  margin: 5px !important;
}

.help-text {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
  .MuiTypography-body2 {
    font-size: 1.075em;
    color: #768299;
  }
}

.mobile #bond-view {
  .ohm-card {
    .card-content {
      justify-content: space-evenly !important;
      .bond-toggle-row {
        justify-content: space-evenly !important;
      }
      .input-row {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        .input-group.ohm-input-group {
          margin: 10px !important;
          width: 75%;
          height: 50px;
        }
        div.stake-button {
          width: 75%;
          margin-left: 0;
          margin-top: 15px;
          height: 50px;
          font-size: 1.3em !important;
        }
      }
    }
  }
}

.web3modal-modal-lightbox {
  z-index: 70 !important;
}

