.toggle-button {
  .moon {
    filter: brightness(0) saturate(100%) invert(70%) sepia(46%) saturate(300%) hue-rotate(173deg) brightness(85%)
      contrast(84%);
  }
  .sun {
    filter: invert(1);
  }
  svg {
    width: 21px !important;
    height: 21px !important;
  }
}
