.toggle-button {
    height: 39px;
    width: 40px;
    border: none !important;
    .moon {
        filter: brightness(0) saturate(100%) invert(70%) sepia(46%) saturate(300%) hue-rotate(173deg) brightness(85%) contrast(84%);
    }
    .sun {
        //filter: brightness(0) saturate(100%) invert(92%) sepia(8%) saturate(1588%) hue-rotate(327deg) brightness(104%) contrast(92%);
        filter: invert(1);
    }
}