.proposal-page {
  width: 100%;
  display: flex;
  justify-content: center;

  // temporary paper fix
  .MuiPaper-root > .MuiGrid-container > .MuiGrid-item {
    width: 100%;
  }
  .page-content {
    .navigation {
      margin-bottom: 30px;
    }
  }

  .proposal-header {
    margin-bottom: 36px;
  }

  .published-date {
    margin-top: 6px;
    margin-bottom: 4px;
    line-height: 18px;
  }

  .proposal-title {
    line-height: 32px;
    font-weight: 700;
  }

  #simple-tab-0 {
    margin-left: 0px;
  }

  #simple-tabpanel-0 {
    .MuiBox-root {
      padding-left: 0px;
    }
  }

  #simple-tabpanel-1 {
    width: 100%;

    .cast-vote-header {
      margin-bottom: 6px;
    }

    .install-location {
      margin-bottom: 20px;
    }

    .vote-submission-section {
      margin-bottom: 45px;
    }

    .your-comment {
      width: 100%;
    }

    .vote-breakdown {
      margin-bottom: 27px;

      .PaperCard-container {
        padding: 18px;
      }
    }

    .MuiBox-root {
      padding-left: 0px;
    }
  }

  .discussion-button {
    .MuiButton-root {
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}
