.call-to-action {
  background-color: #2e2b40;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 97%;
  border-radius: 5px;
  margin-bottom: 25px;


  .learn-more-button{
      margin: 10px;
  }
}
