.info-icon {
  cursor: pointer;
}
.info-tooltip.ohm-card {
  position: absolute;
  left: 10px;
  width: 270px !important;
  min-width: 250px;
  border: 1px solid rgba(118, 130, 153, 0.2);
  white-space: pre-wrap !important;
  z-index: 10;
  .info-tooltip-text {
    line-height: 130%;
  }
}
