.info-tooltip {
  position: absolute;
  right: 20%;
  width: 270px !important;
  min-width: 250px;
  border: 1px solid rgba(118, 130, 153, 0.2);
  backdrop-filter: blur(60px) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  white-space: pre-wrap !important;
  z-index: 10 !important;
  .info-tooltip-text {
    line-height: 130%;
  }
}
