#choose-bond-view {
  display: flex;
  align-items: center;
  justify-content: center;
  .ohm-logo-bg {
    margin-left: 0;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
  }

  .bond-data-card {
    margin: auto !important;
    .ohm-pairs {
      display: flex;
      margin-right: 15px;
    }
    .bond-pair {
      display: flex !important;
      align-items: center;
      justify-content: left;
      margin-left: 10px;
      margin-bottom: 15px;
      .ohm-pair {
        height: 40px;
        width: 40px;
      }
      .bond-name {
        svg {
          margin-left: 5px;
        }
      }
    }
    .bond-price,
    .bond-discount {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
    }
    .bond-link {
      margin-top: 10px;
      text-align: center;
      a {
        width: 96%;
      }
    }
  }

  .MuiTableRow-head {
    .MuiTableCell-alignLeft {
      padding-left: 20px;
    }
  }

  .MuiTableCell-root {
    p {
      margin: 0 !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 3px;
      }
    }
    &.MuiTableCell-alignLeft {
      display: flex;
    }
  }

  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft {
    justify-content: space-between;
    div.ohm-pairs {
      width: 33%;
      vertical-align: middle !important;
      align-items: center !important;
      justify-content: center !important;
      margin-bottom: 0 !important;
      .ohm-pairs div.bond-name p,
      .ohm-pairs svg {
        align-self: center !important;
        line-height: 100% !important;
        font-weight: bold !important;
        margin-bottom: 0em !important;
        padding: 0 !important;
        font-family: inherit;
        vertical-align: text-top !important;
      }
      .ohm-logo-bg {
        margin-left: 0;
        border-radius: 20px;
        padding: 6px;
        height: 40px;
        width: 40px;
      }
    }
    div.bond-name {
      width: 60%;
      margin-left: 8px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      align-items: flex-start;
      p {
        margin-bottom: unset !important;
      }
      svg {
        margin-left: 5px !important;
      }
    }
  }
}
