$primary: black;
$secondary: white;
$trinary: #000;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;
$bg-background: #595652;

$body-font-size: 17px;
$border-radius: 0px;
// $h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;