.sidebar {
  min-width: 280px;
  z-index: 2;
  border-radius: 0 !important;
}

.MuiDrawer-paper .MuiPaper-root {
  border-radius: 0 !important;
}

.dapp-sidebar {
  height: 100%;
  overflow: hidden;
  border-radius: 0 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.menu-divider {
  margin-left: 30px;
  margin-block: 10px;
}

.dapp-sidebar-inner {
  height: 100%;
  overflow: auto;
}

.branding-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-decoration: none;
  margin: 30px 0 10px 0;
  .branding-header-icon {
    width: 50px;
    display: block;
    margin: 0 auto;
  }
  .wallet-link {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .avatar {
    margin-right: 8px;
    height: 20px;
    border-radius: 100px;
  }
}

.dapp-menu-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  min-height: max-content;
  .dapp-nav {
    display: flex;
    flex-flow: column;
  }
}

.dapp-menu-bottom {
  height: 40vh;
  min-height: 30vh;
}
.dapp-menu-data.discounts {
  display: flex;
}

.dapp-menu-links {
  min-height: 35vh;
  align-items: center;
}

.bond-discounts {
  text-align: left;
  color: #999999;
  padding-left: 33px;
  margin-top: 8px;
  a {
    margin-top: 0.7rem;
    margin-left: 33px;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .discounts-accordion {
    backdrop-filter: none;
    background-color: inherit;
    margin: 12px 0;

    &:before {
      display: none;
    }

    .MuiAccordionSummary-root {
      padding: 0;
      justify-content: space-between;
      min-height: auto;
    }

    .MuiAccordionSummary-content {
      display: block;
      margin: 0;

      .MuiTypography-body2 {
        color: #999999;
        margin-left: 33px;
      }
    }

    .MuiAccordionSummary-expandIcon {
      color: inherit;
      height: inherit;
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      left: 92px;
      top: -5px;
      transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      &.Mui-expanded {
        left: 94px;
        top: -2px;
      }
    }

    .MuiAccordionDetails-root {
      padding: 0;
      display: block;

      .bond {
        display: block;
        padding: unset;
        margin-bottom: 0 0 1px 0;
        text-decoration: none !important;
        .bond-pair-roi {
          float: right;
          margin-left: 33px;
        }
      }
    }
  }
}

.give-sub-menus {
  text-align: left;
  padding-left: 33px;
  > p {
    margin-left: 33px;
  }
  .give-option {
    display: block;
    padding: unset;
    margin-bottom: 0 0 1px 0;
    margin-left: 33px;
  }
}

.social-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 1.3rem;
  a {
    &:hover {
      transform: scale(1.1);
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
}

.mobile .show .dapp-sidebar {
  .dapp-menu-links {
    flex-flow: row !important;
    justify-content: center !important;
  }
  .dapp-nav {
    .dapp-menu-data.discounts {
      margin-top: 2.5em;
      .bond-discounts {
        display: none;
      }
    }
  }
}
