.dapp-sidebar{
  position: fixed;
  left:0px;
  top:0px;
  min-width: 16%;
  height:100%;
  display:flex;
  flex-flow:column;
  background-color:#212121;
}

.branding-header-icon {
  width: 45px;
  padding:0.3rem;
  margin: auto;
  filter:invert(1);
}

.dapp-menu-top {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 28px;
  align-items: center;
  text-decoration: none;
  .branding-header {
    padding: 0 1em;
  }
  a {
    display: block;
    vertical-align: middle;
    h3 {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-weight: bold;
      margin: 0;
    }
  }
}

.dapp-nav {
  display: flex;
  flex-flow: column;
}

.button-dapp-menu{
  display:flex;
  border-radius:2rem;
  font-weight: normal !important;
  // @extend .button-secondary;
  font-family: 'Square', 'cursive';
  height: auto;
  line-height: 52px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  svg {
    height: 100%;
  }
  // &.active {
  //   // color: #CC3B66;
  //   font-weight: bold;
  // }
}

.dapp-menu-external-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 300;
  min-height: 30%;
  a {
    display: block;
    width: 100%;
  }
  span {
    margin-left: 1rem;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
}

.dapp-menu-data {
  justify-content: left;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  padding: 5px 24px;
}

.bond-discounts {
  text-align: left;
  color: #999999;
  p {
    margin-bottom: 1px;
    font-size: .89rem;
  }
  p:first-of-type {
    margin-bottom: 8px;
  }
}

.dapp-menu-social {
  width: 100%;
  display: block;
  flex-flow: column;
  justify-content: center;
  height: 80px;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.social-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  a {
    &:hover{
      transform:scale(1.1);
  }
  }
}


