.tooltip {
  z-index: 2000;
}

.docs-link {
  text-decoration: inherit;
  font: inherit;
  color: inherit;
}


.mig-modal-full {
  backdrop-filter: blur(33px);
}

#migration-modal-description {
  line-height: 1.5em;
  font-size: 1rem;
  padding: 0px 5px;
}

@media (max-width: 500px) {
  .mig-modal-full .MuiBox-root .MuiBox-root,
  .mig-modal-full .MuiBox-root .MuiTable-root {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2% 10%;
  }
  .modal-inner{
    width: 250px;
    overflow: scroll;
  
  }
}

// .mig-modal-full .MuiBox-root .MuiTable-root {
//   padding: 5% 30%;
// }
