.project-milestone-progress {
  .RSPBstep {
    // The step labels are shifted left by 50%, so we override that
    // This forces the labels to not exceed the width of the progress bar
    transform: translateX(-100%);
  }

  .step-label {
    padding-top: 40px;
  }
}

.milestone-deliverables {
  line-height: 2rem;
}

.grant-data {
  .MuiSkeleton-text {
    // Force the Skeleton to not break onto a new line
    display: inline;
  }

  .metric {
    padding-left: 3px;
    font-weight: 600;
    font-size: 16px;
  }

  .subtext {
    padding-top: 2px;
  }
}

.grant-image {
  display: flex;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  max-height: 184px;
  overflow: hidden;
  padding-bottom: 0px !important;

  a {
    width: 100%;
  }

  &.medium {
    max-height: 117px;
  }
}

// *** The two following classes are used when currentcolor cannot be used in SVGs
// Applied when the dark theme is enabled
.dark path.transparent-background {
  stroke: rgba(54, 56, 64, 0.6);
}

// Applied when the light theme is enabled
.light path.transparent-background {
  stroke: rgba(255, 255, 255, 0.6);
}
