.project-milestone-progress {
  .RSPBstep {
    // The step labels are shifted left by 50%, so we override that
    transform: none;
  }

  .step-label {
    padding-top: 40px;
    text-align: left;
  }
}

.milestone-deliverables {
  margin-top: 46px;
  line-height: 50px;
  font-size: 16px;
}

.grant-data {
  padding-top: 30px;

  .MuiSkeleton-text {
    // Force the Skeleton to not break onto a new line
    display: inline;
  }

  .metric {
    padding-left: 3px;
    font-weight: 600;
    font-size: 16px;
  }

  .subtext {
    padding-top: 2px;
  }
}
