.give-subnav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;

  max-width: 833px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;

  .MuiLink-root.active {
    text-decoration: none;
  }

  .give-option {
    margin-right: 1rem;
  }

  .give-option.give-active {
    text-decoration: underline;
  }

  #give-sub-dash {
    display: flex;
    flex-direction: row;
  }

  #give-sub-dash:hover {
    color: #f4d092;
  }
}

.give-subnav.smaller {
  margin-left: 6px;

  #give-sub-dash {
    margin-left: -7px;
  }
}

.yield-action-area {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.ohm-modal {
  &.medium {
    .manage-project-stats .MuiBox-root {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.smaller {
    overflow-y: scroll;

    .give-confirmation-details .details-row {
      flex-direction: column;
      align-items: flex-start;

      .sohm-allocation-col {
        margin-bottom: 30px;
      }

      .recipient-address-col {
        align-items: flex-start;
      }
    }

    .ohm-modal-submit {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }

    .manage-project-info {
      .project {
        .cause-content {
          width: 60%;
        }
      }
    }

    .manage-donation-details .donation-details {
      padding: 30px 20px 30px 20px;
    }

    .redeemable-details .redeem-info {
      flex-direction: column;
      align-items: flex-start;
    }

    .donation-details .details-row {
      flex-direction: column;
      align-items: flex-start;

      .sohm-allocation-col {
        width: 100%;
        margin-bottom: 30px;
      }

      .recipient-address-col {
        align-items: flex-start;
        width: 100%;
      }
    }

    .manage-project-stats .center-item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .redeemable-details {
    display: flex;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 80%;

    .redeem-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .subtext {
        color: #999999;
        margin-bottom: 10px;
      }
    }
  }

  .give-modal-alloc-tip {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    .MuiBox-root {
      margin-bottom: 1rem;
    }
  }

  .ohm-modal-submit {
    display: flex;
    align-items: center;
    width: 60%;
    height: 43px !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    button {
      height: 40px;
      width: 100%;
    }
  }

  .manage-project-info {
    .project {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;

      .project-description {
        color: #999999;
      }
    }
  }

  .manage-project-stats {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

    .center-item {
      margin-left: 20px;
      margin-right: 20px;
    }

    .MuiBox-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #999999;
      border-radius: 10px;
      padding: 20px 20px 20px 20px;
      max-height: 77px;
      width: 33%;
      overflow: auto;

      .project-stat-top {
        font-weight: 600;
      }

      .subtext {
        color: #999999;
      }
    }
  }

  .details-header .MuiTypography-h5 {
    font-weight: 600;
  }

  .details-container {
    display: flex;
    flex-direction: column;

    .details-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 18px;

      .row-title {
        color: #999999;
      }
    }
  }

  .details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .MuiTypography-body1 {
      color: #999999;
      margin-bottom: 10px;
    }

    .sohm-allocation-col {
      width: 30%;
    }

    .recipient-address-col {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-content: flex-end;
    }
  }

  .manage-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .MuiButton-root {
      width: 75%;
      height: 40px;
    }
  }

  .manage-donation-details .donation-details {
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 30px;
  }
}

.arrow-graphic {
  svg path {
    fill: #999999;
  }
}

.yield-graphic {
  svg path {
    fill: none;
  }
}

.project {
  margin-top: 10px;

  .project-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 1rem;
    margin-left: 30px;
    height: auto;
    width: 100%;

    p {
      margin-top: 0rem;
      font-size: 0.875rem;
      line-height: 20px;
    }
  }
}

.yield-recipients-empty {
  align-items: center;
}

.redeem-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .MuiPaper-root {
    min-height: 0px;
    max-width: 833px;
  }

  .yield-header {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      position: absolute;
      left: 1.7rem;
    }
  }

  .redeemable-details {
    display: flex;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    // width: 80%;

    .redeem-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &.smaller {
        flex-direction: column;
        align-items: flex-start;

        .wallet-text {
          margin-top: 30px;
        }
      }

      .subtext {
        color: #999999;
        margin-bottom: 10px;
      }
    }
  }

  .ohm-modal-submit {
    display: flex;
    align-items: center;
    width: 60%;
    height: 43px !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    button {
      height: 40px;
      width: 100%;
    }
  }
}

// Keeps styling consistent across grant and project pages
.project-content {
  line-height: 20px;
  font-size: 16px;
  font-family: "Euclid Square";

  li {
    // Same as standard
    line-height: 20px;
    font-size: 16px;
  }
}

.cause-image {
  display: flex;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  max-height: 184px;
  overflow: hidden;
  padding-bottom: 0px !important;

  a {
    width: 100%;
  }
}

.metric {
  font-weight: 600;
  font-size: 14px;
}

.subtext {
  color: #999999;
  padding-top: 2px;
}

// Progress bar for projects
.project-goal-progress {
  padding-top: 10px;

  .MuiLinearProgress-determinate {
    height: 10px;
    border-radius: 3px;
  }

  .MuiLinearProgress-barColorPrimary {
    background: rgb(112, 139, 150);
    background: linear-gradient(269deg, rgba(112, 139, 150, 1) 0%, rgba(247, 251, 231, 1) 100%);
  }
}

.modal-confirmation-title {
  color: #999999;
}

.give-tab-buttons {
  margin-bottom: 10px;
  // Restrict the height of the tab bar, so the indicator is 4px away
  height: 40px;

  .MuiTab-wrapper {
    font-size: 24px;
  }
}

.give-tab-buttons-xs {
  .MuiTab-wrapper {
    font-size: 14px;
  }
}
