.give-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .ohm-card .header {
    min-height: 3em;
  }
}

.yield-action-area {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.give-yield-title {
  display: flex;
  flex-direction: row;
}

.give-yield-modals {
  display: flex;
  flex-direction: row;

  .add-recipient-button {
    margin-right: 0.33em;
  }
}

.ohm-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  // Use decimal values to fix anti-aliasing in Chrome. Ridiculous.
  transform: translate(-50.048%, -50.048%);

  .yield-header {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;

    a {
      position: absolute;
      left: 1.7rem;
    }
  }

  .modal-input {
    width: 100%;
    max-width: 100%;
    padding-bottom: 1rem;

    .MuiFormHelperText-root {
      color: red;
    }
  }

  .ohm-modal-submit {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 43px !important;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.ohm-card {
  .redeem-button {
    position: absolute;
    right: 2.5em;
    bottom: 2em;
  }

  .MuiTypography-body2 {
    margin-bottom: 0.5rem;
  }

  .MuiTypography-body1 {
    margin-bottom: 0.5rem;
  }
}

.redeem-table {
  .MuiTableCell-body {
    font-size: 0.875rem;
    font-family: Square;
    font-weight: 500;
    line-height: 1;
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
}
