#give-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #simple-tabpanel-0 {
    width: 100%;
  }

  #simple-tabpanel-1 {
    width: 100%;
  }

  #simple-tabpanel-2 {
    width: 100%;
  }

  .MuiBox-root {
    padding: 0px;
  }

  .ohm-card {
    padding-bottom: 40px;

    .give-tab-buttons {
      margin-top: 1rem;
      margin-bottom: 50px;
      max-height: 60px;
      min-height: 40px;
      // // Restrict the height of the tab bar, so the indicator is 4px away
      height: 40px;
    }

    .MuiBox-root .no-donations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .MuiTypography-body1 {
        margin-bottom: 30px;
      }

      .MuiButtonBase-root .MuiTypography-body1 {
        margin-bottom: 0px;
      }
    }

    overflow-y: scrollable;
    .cell-align-end {
      display: flex;
      justify-content: flex-end;
    }

    .MuiTypography-body2 {
      margin-bottom: 0.5rem;
    }

    .MuiTypography-body1 {
      margin-bottom: 0.5rem;
    }

    .header {
      min-height: 3em;
    }

    .button-box {
      display: flex;
      justify-content: center;

      .learn-more-button {
        p {
          margin-bottom: 0px;
        }

        svg {
          margin-left: 4px;
        }
      }
    }
  }

  .causes-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    .grants-header {
      line-height: 24px;
      padding-bottom: 30px;
    }

    .data-grid {
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .cause-card {
      &.very-small {
        min-width: 200px;
      }
      // max-width: 773px;
      // box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.03);
      // background-color: #ffffff0e;
      // backdrop-filter: blur(60px);
      // -webkit-backdrop-filter: blur(60px);
      border-radius: 10px !important;
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 60px;

      .cause-title {
        padding-left: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 10px;
      }

      .cause-title.smaller-size {
        margin-bottom: 20px;
      }

      .cause-title:hover {
        h5 {
          text-decoration: underline;
        }
      }

      .cause-content {
        height: auto;
        width: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .MuiTypography-body2 {
          margin-top: 0.5rem;
        }

        .cause-body {
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .donation-table {
    display: flex;
    flex-direction: column;
    margin: 6px 0px;

    .MuiTableCell-root {
      padding: 28px 0px 20px 0px;
    }

    // Must be after .MuiTableCell-root in order to override
    .MuiTableCell-head {
      padding: 0px 0px 20px 0px;
    }

    .MuiTableRow-root {
      display: flex;

      .MuiTypography-body1 {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }

    .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignLeft {
      width: 20%;
      margin-left: 5px !important;
    }

    .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignRight {
      width: 20%;
      margin-left: 5px !important;

      &.manage-cell {
        margin-left: 40px !important;
      }
    }

    .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft {
      display: flex;
      align-items: center;
      width: 20%;
      margin-left: 5px !important;
      text-align: left;
    }

    .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignRight {
      display: flex;
      align-items: center;
      width: 20%;
      margin-left: 5px !important;
      text-align: left;

      &.deposit-manage-cell {
        margin-left: 40px !important;
      }
    }
  }

  .redeem-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    width: 100%;

    .redeemable-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin-bottom: 40px;

      .redeemable-balance {
        text-align: center;
        margin-bottom: 30px;

        h3 {
          font-weight: 600;
          margin-bottom: 6px;
        }

        .subtext {
          color: #999999;
        }
      }

      .redeem-button {
        height: 40px;
        width: 100%;
      }
    }

    .projects-redeemable-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;

      .projects-redeemable-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #999999;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        width: 30%;

        h5 {
          font-weight: 600;
        }

        .subtext {
          color: #999999;
        }
      }
    }

    .main-redeemable-box {
      border: 1px solid #999999;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      width: 100%;

      p:first-of-type {
        color: #999999;
      }
    }
  }
}

#give-view.medium {
  .cause-title {
    margin-bottom: 1rem;
  }

  .causes-body {
    padding-left: 0px;
    padding-right: 0px;

    .cause-card {
      margin-bottom: 30px;
    }

    .cause-content {
      width: 45%;

      .cause-body {
        margin-top: -5%;
      }
    }

    .cause-misc-info {
      .cause-give-button {
        width: 100%;
        margin-left: 0rem;
      }
    }

    .cause-misc-info .give-button-grid {
      margin-top: 20px;
    }
  }

  .ohm-card {
    // On smaller screens, stack vertically and center
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .donation-table {
    .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignRight {
      &.deposit-manage-cell {
        margin-left: 20px !important;
      }
    }
  }

  .redeem-view {
    padding-left: 35px;
    padding-right: 35px;

    .redeemable-container {
      width: 65%;
    }

    .projects-redeemable-data {
      width: 100%;
    }
  }
}

#give-view.smaller {
  margin-bottom: 30px;

  .give-tab-buttons .MuiTab-wrapper {
    font-size: 14px;
  }

  .cause-title {
    margin-bottom: 1rem;
  }

  .causes-body {
    padding-left: 0px;
    padding-right: 0px;

    .cause-card {
      flex-direction: column;
    }
  }

  .ohm-card {
    // On smaller screens, stack vertically and center
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .donation-table {
    .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignLeft {
      font-size: 12px;
      width: 33%;
    }

    .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignRight {
      font-size: 12px;
      width: 33%;
    }

    .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft {
      width: 33%;
    }

    .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignRight {
      width: 33%;

      &.deposit-manage-cell {
        margin-left: 20px !important;
        width: 40%;
      }
    }
  }

  .redeem-view {
    padding-left: 0px;
    padding-right: 0px;

    .redeemable-container {
      width: 100%;
    }

    .projects-redeemable-data .projects-redeemable-box {
      padding: 20px 10px 20px 10px;
    }
  }
}

.give-subnav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;

  max-width: 833px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;

  .MuiLink-root.active {
    text-decoration: none;
  }

  .give-option {
    margin-right: 1rem;
  }

  .give-option.give-active {
    text-decoration: underline;
  }

  #give-sub-dash {
    display: flex;
    flex-direction: row;
  }

  #give-sub-dash:hover {
    color: #f4d092;
  }
}

.give-subnav.smaller {
  margin-left: 6px;

  #give-sub-dash {
    margin-left: -7px;
  }
}

.custom-recipient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.smaller {
    padding: 20px 20px 20px 20px;
  }
  padding: 30px 30px 30px 30px;

  .custom-recipient-headline {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .custom-give-button {
    height: 40px;
    width: 12rem;
  }
}

.yield-action-area {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.ohm-modal {
  &.medium {
    .manage-project-stats .MuiBox-root {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.smaller {
    overflow-y: scroll;

    .give-confirmation-details .details-row {
      flex-direction: column;
      align-items: flex-start;

      .sohm-allocation-col {
        margin-bottom: 30px;
      }

      .recipient-address-col {
        align-items: flex-start;
      }
    }

    .ohm-modal-submit {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }

    .manage-project-info {
      .project {
        .cause-content {
          width: 60%;
        }
      }
    }

    .manage-donation-details .donation-details {
      padding: 30px 20px 30px 20px;
    }

    .redeemable-details .redeem-info {
      flex-direction: column;
      align-items: flex-start;
    }

    .donation-details .details-row {
      flex-direction: column;
      align-items: flex-start;

      .sohm-allocation-col {
        width: 100%;
        margin-bottom: 30px;
      }

      .recipient-address-col {
        align-items: flex-start;
        width: 100%;
      }
    }

    .manage-project-stats .center-item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .redeemable-details {
    display: flex;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 80%;

    .redeem-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .subtext {
        color: #999999;
        margin-bottom: 10px;
      }
    }
  }

  .give-modal-alloc-tip {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    .MuiBox-root {
      margin-bottom: 1rem;
    }
  }

  .ohm-modal-submit {
    display: flex;
    align-items: center;
    width: 60%;
    height: 43px !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    button {
      height: 40px;
      width: 100%;
    }
  }

  .manage-project-info {
    .project {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;

      .project-description {
        color: #999999;
      }
    }
  }

  .manage-project-stats {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

    .center-item {
      margin-left: 20px;
      margin-right: 20px;
    }

    .MuiBox-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #999999;
      border-radius: 10px;
      padding: 20px 20px 20px 20px;
      max-height: 77px;
      width: 33%;
      overflow: auto;

      .project-stat-top {
        font-weight: 600;
      }

      .subtext {
        color: #999999;
      }
    }
  }

  .details-header .MuiTypography-h5 {
    font-weight: 600;
  }

  .details-container {
    display: flex;
    flex-direction: column;

    .details-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 18px;

      .row-title {
        color: #999999;
      }
    }
  }

  .details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .MuiTypography-body1 {
      color: #999999;
      margin-bottom: 10px;
    }

    .sohm-allocation-col {
      width: 30%;
    }

    .recipient-address-col {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-content: flex-end;
    }
  }

  .manage-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .MuiButton-root {
      width: 75%;
      height: 40px;
    }
  }

  .manage-donation-details .donation-details {
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 30px;
  }
}

.give-confirmation-details {
  .confirmation-sect-header {
    margin-bottom: 16px;
  }

  .details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .MuiTypography-body1 {
      color: #999999;
      margin-bottom: 10px;
    }

    .sohm-allocation-col {
      width: 30%;
    }

    .recipient-address-col {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-content: flex-end;
    }
  }
}

.arrow-graphic {
  svg path {
    fill: #999999;
  }
}

.yield-graphic {
  svg path {
    fill: none;
  }
}

.project {
  margin-top: 10px;

  .project-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 1rem;
    margin-left: 30px;
    height: auto;
    width: 100%;

    p {
      margin-top: 0rem;
      font-size: 0.875rem;
      line-height: 20px;
    }
  }
}

.yield-recipients-empty {
  align-items: center;
}

.redeem-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .MuiPaper-root {
    min-height: 0px;
    max-width: 833px;
  }

  .yield-header {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      position: absolute;
      left: 1.7rem;
    }
  }

  .redeemable-details {
    display: flex;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    // width: 80%;

    .redeem-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &.smaller {
        flex-direction: column;
        align-items: flex-start;

        .wallet-text {
          margin-top: 30px;
        }
      }

      .subtext {
        color: #999999;
        margin-bottom: 10px;
      }
    }
  }

  .ohm-modal-submit {
    display: flex;
    align-items: center;
    width: 60%;
    height: 43px !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    button {
      height: 40px;
      width: 100%;
    }
  }
}

.project-content {
  line-height: 20px;
  font-size: 16px;
  font-family: "Euclid Square";

  li {
    // Same as standard
    line-height: 20px;
    font-size: 16px;
  }
}

.cause-image {
  display: flex;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  max-height: 184px;
  overflow: hidden;
  padding-bottom: 0px !important;

  a {
    width: 100%;
  }
}

.metric {
  font-weight: 600;
  font-size: 14px;
}

.subtext {
  color: #999999;
  padding-top: 2px;
}

.project-goal-progress {
  padding-top: 10px;

  .MuiLinearProgress-determinate {
    height: 10px;
    border-radius: 3px;
  }

  .MuiLinearProgress-barColorPrimary {
    background: rgb(112, 139, 150);
    background: linear-gradient(269deg, rgba(112, 139, 150, 1) 0%, rgba(247, 251, 231, 1) 100%);
  }
}

.modal-confirmation-title {
  color: #999999;
}
