.donation-table {
  display: flex;
  flex-direction: column;
  margin: 6px 0px;

  .MuiTableCell-root {
    padding: 28px 0px 20px 0px;
  }

  // Must be after .MuiTableCell-root in order to override
  .MuiTableCell-head {
    padding: 0px 0px 20px 0px;
  }

  .MuiTableRow-root {
    display: flex;
    justify-content: space-between;

    .MuiTypography-body1 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignLeft {
    width: 20%;
    margin-left: 5px !important;
  }

  .MuiTableHead-root .MuiTableRow-head .MuiTableCell-alignRight {
    width: 20%;
    margin-left: 5px !important;

    &.manage-cell {
      margin-left: 40px !important;
    }
  }

  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 5px !important;
    text-align: left;
  }

  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignRight {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 5px !important;
    text-align: left;

    &.deposit-manage-cell {
      margin-left: 40px !important;
    }
  }
}
