* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  --ohm-gold: #f8cc82;
  --ohm-card-border-radius: 10px;
  --light-paper-bg: linear-gradient(65.7deg, #f5f5f5 8.35%, #ffffff 100%);
  --dark-paper-bg: linear-gradient(237.43deg, #2b313d -12.81%, #171a20 132.72%);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.web3modal-modal-lightbox {
  z-index: 10000 !important;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Square";
  overflow: hidden;
  transition: all ease 0.33ms;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

#choose-bond-view {
  .bond-data-card {
    .data-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin: 12px 0px;
    }

    .data-row-centered {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      margin: 12px 0px;
      .marginedBtn {
        margin: 0.3rem;
      }
    }
  }
}

.ohm-card {
  max-width: 833px;
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
    h5 {
      font-weight: 600 !important;
    }
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
}

.ohm-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}

.tooltip {
  z-index: 9999999;
}
