* {
  outline: none;
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Square";
  overflow: hidden;
}

.ohm-card {
  .card-header {
    width: 100%;
    min-height: 2rem;
    h5 {
      font-weight: 600 !important;
    }
  }
  .card-content {
    width: 100%;
    position: relative;
    align-items: left;
    justify-content: center;
    flex-flow: column;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    height: 100%;
  }

  .help-text {
    margin: 13px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 13px 0;
  }
}

// For formatting the pairs
// JBTD: -- move into its own component
.ohm-pairs {
  display: flex;
  align-items: center;
}

.ohm-pair {
  width: 40px;
  height: 40px;
  margin-left: -8px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
  }
}

.ohm-input {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }
}

a:hover svg {
  color: inherit;
}
