name: Main CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build UI for production
      run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn build
      env:
          CI: true
    - name: Run Unit Tests
      run: |
          yarn test:unit
